@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
/*------------------------------------------Colors---------------------------------------------------*/
--Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--Gris-oscuro: #666;
--Gris-claro: #ebebeb;
--Verde: #39b54a;
/*------------------------------------------Font-Family---------------------------------------------------*/
--roboto: 'Roboto', sans-serif;
/*------------------------------------------Font-size---------------------------------------------------*/
--text: 12px;
--title: 24px;
--text-lg: 18px;
--text-md: 16px;
}
